<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourTom</title>
</head>
<body>
    <h4><%= success %></h4>
    <h4><%= deleted %></h4>
    <h4><%= error %></h4>
    <h4><%= register %></h4>
    <h4> allLisiting </h4>
    <form action ="/listing/new" method="get">
        <button>Create New</button>
    </form>
    <hr>
    <% for(let listing of allLisiting){%>
        <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
    <%}%>
    
</body>
</html>

